{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block header %}
<div class="grid-row">
  <header class="page--header">
    <div class="grid-column-full">
      <span class="page--caption">{% block pagecaption %}Page caption{% endblock %}</span>
      <h1 class="page--heading">{% block pageheading %}Page title{% endblock %}</h1>
    </div>
    <div class="grid-column-two-thirds">
      <p class="page--excerpt">{% block pageexcerpt %}Page excerpt{% endblock %}</p>
    </div>
  </header>
</div>
{% endblock %}

<div id="content">{% block content %}{% endblock %}</div>
