{% extends "page-with-header.html" %}
{% block title %}Match mentees to mentors{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs--list-item">
    <a class="breadcrumbs--link" href="/mentor_match_web/app/static">Mentor matcher</a>
  </li>
{% endblock %}

{% block pagecaption %}Mentor matcher{% endblock %}
{% block pageheading %}Privacy and data{% endblock %}
{% block pageexcerpt %}This page explains the privacy and data policy for this website.{% endblock %}

{% block content %}
	<div class="grid-row">
		<div class="grid-column-two-thirds">
			<div class="page--content">
				<p>The Civil Service LGBT+ Network is a volunteer-led employee network for the UK Civil Service. We follow Civil Service policies and procedures.</p>
        <p>The 'Mentor Matcher' service is a web service used to match mentees with mentors as part of the Civil Service LGBT+ mentoring programme. This policy explains how we use the data that is uploaded to the service.</p>

        <h2>What information is collected and how it is used</h2>
        <p>The Mentor Matcher service is a tool that volunteers of the Civil Service LGBT+ Network can use to automate the process of matching mentors and mentees who have signed up to the Civil Service LGBT+ Network's mentoring programme.</p>
        <p><strong>You must not use this service without collecting explicit permission from users to process their data.</strong></p>
        <p>Data for the mentor matcher must be uploaded to the service in a specific format. The data must be in two spreadsheets: <code>mentees.csv</code> and <code>mentors.csv</code>.
        <p>The data collected as part of the programme includes, but is not limited to a participant's:</p>
        <ul>
          <li>name</li>
          <li>email address</li>
          <li>place of work</li>
          <li>job title</li>
          <li>professional or functional anchor</li>
          <li>grade</li>
        </ul>
        <p>People signing up to take part in the mentoring programme must have given explicit consent for their data to be used for the purpose of matching mentors and mentees. <strong>If this consent has not been obtained, you should not use this service to match mentors and mentees.</strong></p>
        <p>To enable the mentor matcher to function, all of the data collected as part of the programme is uploaded to a server and processed. Once mentors and mentees are matched together, users of this service can download the data. The data is deleted once it has been downloaded.</p>
        <p>Provided consent was collected in the appropriate manner when participants register for the programme, no further consent is required to use this tool, as it is an essential part of the programme.</p>
        <p>Special category data is collected as part of the programme. This service processes special category data in order to make the programme function. Where special category data is collected and processed, explicit consent should be been gained from the data subject. <strong>If this consent has not been obtained, you should not use this service to match mentors and mentees.</strong></p>

        <h2>How the data is protected and how long it is retained for</h2>
        <p>We implement a variety of security measures to maintain the safety of data used on this service.</p>
        <p>The data uploaded to this service is only retained for as long as is strictly necessary and it is regularly erased to mitigate against it being accessed by others.</p>

        <h2>Changes to this policy</h2>
        <p>We keep this policy under review. Any updates to this policy will be published on this website. This policy was last updated on 25 June 2022.</p>

        <h2>Informing you of changes or issues</h2>
        <p>If we make changes to the way we process your information, or we identify an issue with the way data is being managed, we will publish a notice on our website.</p>
        <p><a href="https://www.civilservice.lgbt/notices/" title="Read updates to our privacy and data policy">Read all notices</a></p>

        <h2>How to contact us</h2>
        <p>Please <a href="mailto:info@civilservice.lgbt" title="Email us at info@civilservice.lgbt">contact us</a> if you have any questions about this policy or information we hold about you.</p>
			</div>
		</div>
	</div>
{% endblock %}
