{% extends 'page-with-header.html' %}
{% block title %}Process matches{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block pagecaption %}Mentor matcher{% endblock %}
{% block pageheading %}Start matching{% endblock %}
{% block pageexcerpt %}Process the data and match mentors to mentees.{% endblock %}

{%  block content %}
<div class="grid-row">
  <div class="grid-column-two-thirds" id="matching">

    <p>You have selected the following options:</p>

    <ul>
      <li><strong>{% if matching == "quality" %}Optimise for the best possible matches{% else %}Optimise so that the most number of mentees receive a match</strong>{% endif %}
    </ul>

    <p style="margin-bottom: 45px;">If these options are correct, start the matching process using the button below. Otherwise, <a href="/options" title="Go back to the options page">go back and change these options</a>.</p>

    <button id="match-button" class="button button--action" type="button" onclick="handleClick('{{ data_folder }}', '{{ matching }}')">Start matching</button>
  </div>
</div>
{% endblock %}
