{% extends 'notify-settings/base-notify-settings.html' %}

{%  block content %}
<div class="grid-row">
  <div class="grid-column-two-thirds" id="options">

    <form method=post enctype=multipart/form-data action="{{ url_for("main.notify_settings_reply_id") }}">
      {% if error_message %}
      <blockquote class="error warning-text">
        <p><strong>An error has occurred</strong></p>
        <p>{{ error_message }}</p>
      </blockquote>
      {% endif %}
      <div class="form-group">

        <fieldset id="fieldset-notify" aria-describedby="fieldset-notify--hint" class="fieldset" style="margin-bottom: 45px">
          <legend id="fieldset-notify--title" class="legend-lg">
          GOV.UK Notify message templates
          </legend>

          <p id="fieldset-notify--hint" class="hint">The matching process creates four possible outcomes. These outcomes are:</p>
          <ol id="fieldset-notify--hint" class="hint">
            <li>mentees receive at least 1 match</li>
            <li>mentees receive no matches</li>
            <li>mentors receive at least 1 match</li>
            <li>mentors receive no matches</li>
          </ol>
          <p id="fieldset-notify--hint" class="hint">In GOV.UK Notify, you should have an email message template set up that explains the outcome of the matching process to mentors and mentees in each of these scenarios.</p>
          <p id="fieldset-notify--hint" class="hint">Make sure each template contains the following template fields:</p>
          <ol id="fieldset-notify--hint" class="hint">
            <li><code>(( first name ))</code></li>
            <li><code>(( last name ))</code></li>
          </ol>
          <p id="fieldset-notify--hint" class="hint">For the templates to mentors and mentees <strong>with</strong> matches, also include these template fields:</p>
          <ol id="fieldset-notify--hint" class="hint">
            <li><code>(( number of matches ))</code></li>
            <li><code>(( match details ))</code></li>
          </ol>

          <p>Enter the message template IDs for each template in the fields below.</p>

          <hr>

          <label class="input-label label-md" for="template-id-field-mentees-matches">
            1. Mentees with at least 1 match
          </label>
          <input class="input" id="template-id-mentees-matches" placeholder="Enter the message ID" name="template-id-field-mentees-matches" type="text">

          <label class="input-label label-md" for="template-id-field-mentees-no-matches">
            2. Mentees with no matches
          </label>
          <input class="input" id="template-id-mentees-no-matches" placeholder="Enter the message ID" name="template-id-field-mentees-no-matches" type="text">

          <label class="input-label label-md" for="template-id-field-mentors-matches">
            3. Mentors with at least 1 match
          </label>
          <input class="input" id="template-id-mentors-matches" placeholder="Enter the message ID" name="template-id-field-mentors-matches" type="text">

          <label class="input-label label-md" for="template-id-field-mentors-no-matches">
            4. Mentors with no matches
          </label>
          <input class="input" id="template-id-mentors-no-matches" placeholder="Enter the message ID" name="template-id-field-mentors-no-matches" type="text">

        </fieldset>

      </div>
      <input type="submit" class="button button--action" value="Next ❯">
    </form>
  </div>
</div>
{% endblock %}
