{% extends "page-with-header.html" %}
{% block title %}Match mentees to mentors{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs--list-item">
    <a class="breadcrumbs--link" href="/">Mentor matcher</a>
  </li>
{% endblock %}

{% block pagecaption %}Mentor matcher{% endblock %}
{% block pageheading %}Cookies{% endblock %}
{% block pageexcerpt %}This page explains the use of cookies on this website.{% endblock %}

{% block content %}
	<div class="grid-row">
		<div class="grid-column-two-thirds">
			<div class="page--content">
				<p>Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>
        <p>We use cookies to make the Civil Service LGBT+ mentoring programme Mentor Matcher work.</p>

        <h2>Essential cookies</h2>
        <p>We use some cookies to make the Mentor Matcher work properly. We do not need to ask permission to use them.</p>

        <table>
          <thead>
            <th>Name</th>
            <th>Purpose</th>
            <th>Expires</th>
          </thead>
          <tr>
            <td>`data-folder`</td>
            <td>This unique string is the name of the folder where your uploaded data is stored</td>
            <td>30 minutes</td>
          </tr>
        </table>
			</div>
		</div>
	</div>
{% endblock %}
