{% extends "base.html" %}
{% block title %}Match mentees to mentors{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<div class="grid-row">
  <header class="page--header">
	  <div class="grid-column-full">
			<span class="page--caption">Tools</span>
		  <h1 class="page--heading">Mentor matcher</h1>
	  </div>
	  <div class="grid-column-two-thirds">
		  <p class="page--excerpt">This tool helps you to match mentors to mentees as part of the Civil Service LGBT+ mentoring programme.</p>
	  </div>
  </header>
</div>

<div class="grid-row">
  <div class="grid-column-two-thirds">
		<details>
			<summary>About this tool</summary>
				<p>Explanatory text about the took can go here...</p>
		</details>
  </div>
</div>

<div class="grid-row main-wrapper--lg">
  <div class="grid-column-full">
    <h2>Tasks</h2>
    <div class="page--content">
      <p>Pick a task length.</p>
      <div class="button-group" role="group" aria-label="Basic example">
		  <button type="button" class="button" onclick="handleClick('small')">50 participants</button>
		  <button type="button" class="button" onclick="handleClick('large')">500 participants</button>
      </div>
    </div>
  </div>
</div>

<div class="grid-row main-wrapper--lg">
  <div class="grid-column-full">
	  <details>
		  <summary>Logging information</summary>
		  <table class="table">
			  <thead>
				  <tr>
					  <th width="50%">ID</th>
					  <th width="20%">Status</th>
					  <th width="30%">Result</th>
				  </tr>
			  </thead>
			  <tbody id="tasks">
  
			  </tbody>
		  </table>
	  </details>
  </div>
</div>
{% endblock %}
