{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<div class="grid-row">
  <header class="page--header">
	  <div class="grid-column-full">
			<span class="page--caption">Tools</span>
		  <h1 class="page--heading">Mentor matcher</h1>
	  </div>
	  <div class="grid-column-two-thirds">
		  <p class="page--excerpt">This tool helps you to match mentors to mentees as part of the Civil Service LGBT+ mentoring programme.</p>
	  </div>
  </header>

</div>
	<hr>
  <div>
	    <h2>Tasks</h2>
	    <p>Pick a task length.</p>
	    <div class="button-group" role="group" aria-label="Basic example">
			<button type="button" class="button" onclick="handleClick('small')">50 participants</button>
			<button type="button" class="button" onclick="handleClick('large')">500 participants</button>
	    </div>
	</div>

	<details>
		<summary>Task Status</summary>

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Status</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody id="tasks">

			</tbody>
		</table>
	</details>
{% endblock %}
