{% extends "page-with-header.html" %}
{% block title %}Download matches{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs--list-item">
    <a class="breadcrumbs--link" href="/">Mentor matcher</a>
  </li>
{% endblock %}

{% block pagecaption %}Mentor matcher{% endblock %}
{% block pageheading %}Matching complete{% endblock %}
{% block pageexcerpt %}Download the matching results.{% endblock %}

{% block content %}

<div class="grid-row">
  <div class="grid-column-two-thirds">
	<p>The matching process is now complete. Use the button to download your matches.</p>
      <a href="{{ url_for("main.download_task", task_id=data_folder) }}" class="button button--action" id="download-matches" title="Download matching results" download>Download matches</a>
  </div>
</div>
{% endblock %}
