{% extends "base.html" %}
{% block title %}Download matches{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs--list-item">
    <a class="breadcrumbs--link" href="/">Mentor matcher</a>
  </li>
{% endblock %}

{% block pagecaption %}Mentor matcher{% endblock %}
{% block pageheading %}Matching complete{% endblock %}
{% block pageexcerpt %}Download the matching results.{% endblock %}

{% block content %}

<div class="grid-row">
  <div class="grid-column-two-thirds">
	<p>The matching process is now complete. Use the button to download your matches.</p>
  <p><button class="button button--action" id="download-matches" title="Download matching results" onclick="someFunctionHere()">Download
		matches</button></p>
  </div>
</div>
{% endblock %}
