{% extends "page-with-header.html" %}
{% block title %}Download matches{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs--list-item">
    <a class="breadcrumbs--link" href="/">Mentor matcher</a>
  </li>
{% endblock %}

{% block pagecaption %}Mentor matcher{% endblock %}
{% block pageheading %}Matching complete{% endblock %}
{% block pageexcerpt %}Download the matching results.{% endblock %}

{% block content %}

<div class="grid-row">
  <div class="grid-column-two-thirds">
	<p>The matching process is now complete.

        {% set counts = overview["csmentor"] %}
        <br>
        There were {{ counts["0_matches"] }} mentors with no matches, {{ counts["1_matches"] }} with one match,
        {{ counts["2_matches"] }} with two matches, and {{ counts["3_matches"] }} with four matches.

        {% set counts = overview["csmentee"] %}
        <br>
        There were {{ counts["0_matches"] }} mentees with no matches, {{ counts["1_matches"] }} with one match,
        {{ counts["2_matches"] }} with two matches, and {{ counts["3_matches"] }} with four matches.
        <br>
        Use the button to download your matches.</p>
      <a href="{{ url_for("main.tasks", task_id=data_folder) }}" onclick="redirectToDone()" class="button button--action" id="download-matches" title="Download matching results">Download matches</a>
  </div>
</div>
{% endblock %}
