{% extends "base.html" %}
{% block title %}Match mentees to mentors{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs--list-item">
    <a class="breadcrumbs--link" href="/">Mentor matcher</a>
  </li>
{% endblock %}

{% block content %}

<article class="article--news">

	<div class="grid-row">
	  <header class="page--header">
		  <div class="grid-column-full">
			  <span class="page--caption">Mentor matcher</span>
			  <h1 class="page--heading">Privacy and data</h1>
		  </div>
		  <div class="grid-column-two-thirds">
			  <p class="page--excerpt">This page explains the privacy and data policy for this website.</p>
		  </div>
	  </header>
  </div>

	<div class="grid-row">
		<div class="grid-column-two-thirds">

			<div class="page--content">

				<p><i>Content here</i></p>
        
			</div>

		</div>
	</div>

</article>

{% endblock %}
