{% extends "base.html" %}
{% block title %}Match mentees to mentors{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs--list-item">
    <a class="breadcrumbs--link" href="/">Mentor matcher</a>
  </li>
{% endblock %}

{% block pagecaption %}Mentor matcher{% endblock %}
{% block pageheading %}Privacy and data{% endblock %}
{% block pageexcerpt %}This page explains the privacy and data policy for this website.{% endblock %}

{% block content %}
	<div class="grid-row">
		<div class="grid-column-two-thirds">
			<div class="page--content">
				<p><i>Content here</i></p>
			</div>
		</div>
	</div>
{% endblock %}
