{% extends 'page-with-header.html' %}
{% block title %}Process matches{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumbs--list-item">
    <a class="breadcrumbs--link" href="/">Mentor matcher</a>
  </li>
{% endblock %}

{% block pagecaption %}Mentor matcher{% endblock %}
{% block pageheading %}Start matching{% endblock %}
{% block pageexcerpt %}Process the data and match mentors to mentees.{% endblock %}

{%  block content %}
<div class="grid-row main-wrapper--lg">
  <div class="grid-column-two-thirds">
    <button class="button button--action" type="button" onclick="handleClick('{{ session['data-folder'] }}')">Start matching</button>
  </div>
</div>
{% endblock %}
